## Nama : Zulfa Akfi Fikrina
## NIM  : 200601110118

## Pengertian dan Kegunaan PANDAS

In [ ]:
PANDAS adalah sebuah librari dan open source yang menyediakan struktur serta analisis data yang dapat digunakan untuk 
mengkonversi data mentah sehingga memudahkan untuk menganalisis data.struktur data dasar pandas dinamakan DataFrame yaitu 
koleksi kolom berurutan dengan bentuk sebuah tabel yang memudahkan untuk membaca sebuah file dan menjadikannya table.
beberapa kegunaan pandas yaitu kita dapat membaca dan menuliskan data dalam bentuk csv file yang lainnya dan database, 
kita juga dapat membuat file excel, csxc dan lain sebagainya, penghitungan statistik, menghilangkan beberapa value yang 
kurang memenuhi, vissualisasi data, mengolah data.

## Komponen Utama PANDAS

In [ ]:
1. series dan DataFrame.
pembuatan DataFrame bisa dilakukan di Python langsung atau langsung upload file txt/excel.

In [17]:
import pandas as pd

In [18]:
data = {
    'apples': [3, 2, 0, 1],
    'oranges': [0, 3, 7, 2]
}

purchases = pd.DataFrame(data)
print(purchases)

   apples  oranges
0       3        0
1       2        3
2       0        7
3       1        2

In [20]:
purchases = pd.DataFrame(data,
index=['June', 'Robert', 'Lily', 'David'])
print(purchases.loc['Robert'])

apples     2
oranges    3
Name: Robert, dtype: int64

## Penambahan Kolom Baru

In [22]:
df = pd.DataFrame({'celcius': [17.0, 25.0]},
                  index=['Bantul', 'Sleman'])
print(df)

        celcius
Bantul     17.0
Sleman     25.0

In [24]:
df=df.assign(fah=df['celcius']*9/5+32)
print(df)

        celcius   fah
Bantul     17.0  62.6
Sleman     25.0  77.0

In [26]:
df=df.assign(rea=lambda x:x.celcius*4/5)
print(df)

        celcius   fah   rea
Bantul     17.0  62.6  13.6
Sleman     25.0  77.0  20.0

## Apply Function

In [27]:
df=pd.DataFrame({'nama':['andi', 'rudi', 'siti', 'ani'],
                 'ipk':[2.3,3.1,1.8,2.9]})
print(df)

   nama  ipk
0  andi  2.3
1  rudi  3.1
2  siti  1.8
3   ani  2.9

In [29]:
def group_nilai(a):
    if a > 2.75:
        hasil="Bagus"
    elif a > 2.5:
        hasil="Cukup"
    else:
        hasil="Kurang"
    return hasil
df=df.assign(status=df['ipk'].apply(group_nilai))
print(df)

   nama  ipk  status
0  andi  2.3  Kurang
1  rudi  3.1   Bagus
2  siti  1.8  Kurang
3   ani  2.9   Bagus

## import .txt